<header>

  <h1 class="text-center my-5">Our happy customers</h1>

  <div class="hero">
    <!-- carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/dog.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item">
          <img src="assets/man.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/portrait_woman.jpg" class="d-block w-100" alt="">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</header>

<main>
  <h2 class="text-center my-5">Our happy customers - companies</h2>

  <div class="container">
    <!-- block with logos of customers-->
    <div class="client-block d-flex flex-column flex-md-row justify-content-center align-items-center mx-auto">
      <a href="https://amazon.com"><i class="fa-brands fa-amazon"></i></a>
      <a href="https://google.com"><i class="fa-brands fa-google"></i></a>
      <a href="https://.com"><i class="fa-brands fa-windows"></i></a>
    </div>
  </div>

  <h2 class="text-center my-5">Our happy customers - private clients</h2>

  <div class="container">
    <!-- list of of customers - media object -->
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <img src="assets/mountain.jpg" alt="mountain" width="250" class="m-5">
      </div>
      <div class="flex-grow-1 ms-3">
        First customer
      </div>
    </div>
  </div>
  <div class="container">
    <!-- list of of customers - media object -->
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <img src="assets/girls.jpg" alt="mountain" width="250" class="m-5">
      </div>
      <div class="flex-grow-1 ms-3">
        Second customer
      </div>
    </div>
  </div>
  <div class="container">
    <!-- list of of customers - media object -->
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <img src="assets/close-up_woman.jpg" alt="mountain" width="250" class="m-5">
      </div>
      <div class="flex-grow-1 ms-3">
        Third customer
      </div>
    </div>
  </div>
  <div class="container">
    <!-- want to work with us? contact us: -->
  </div>
</main>
