<header>
  <div class="contain">
    <div class="banner text-center mx-auto d-flex flex-column justify-content-center align-items-center">
      <h3 class="fw-bold text-white display-4">Some of our happy customers</h3>
      <button class="btn btn-lg text-light neon mt-4" routerLink="/contact">GET IN TOUCH</button>
    </div>
  </div>

  <div class="hero mt-5 mx-auto max">
    <!-- carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/dog.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/red_hair.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/portrait_woman.jpg" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="assets/guy_field.jpg" class="d-block w-100" alt="">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</header>

<main>
  <h2 class="text-center my-5">Business Clients</h2>

  <div class="container">
    <!-- block with logos of customers-->
    <div class="client-block d-flex flex-column flex-md-row justify-content-center align-items-center mx-auto">
      <a href="https://amazon.com"><i class="fa-brands fa-amazon"></i></a>
      <a href="https://google.com"><i class="fa-brands fa-google"></i></a>
      <a href="https://windows.com"><i class="fa-brands fa-windows"></i></a>
    </div>
  </div>

  <h2 class="text-center my-5">Private Clients</h2>

  <!-- Testimonials -->
<section>

  <div class="row text-center mx-2 max mx-auto">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Lamia</h5>
      <h6 class="text-secondary mb-3">Bride</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>I am so thankful for the Photo-10 Team and had a great Wedding-shoot. Thank you for making my beautiful day more special.
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-5">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Christine</h5>
      <h6 class="text-secondary mb-3">Business Portrait Client</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Working with Photo-10 Team was great. At the session Photo-10 Team was very professional and knew how to get the shot and look that I was after. The turnaround time to get the pictures was quick and I am very happy with them. I would recommend Photo 10-Team to anyone that is looking for a great business portrait.
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Taner</h5>
      <h6 class="text-secondary mb-3">Family Portrait Client</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Photo 10-Team is wonderful to work with, and I know my wife, newborn and dog agree! They talk clients thru the shoot not only to make them feel comfortable, but also to help ensure they receive the best possible photos. Best of all, I love my pictures!
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
