<div class="container">
    <br>
    <img src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731__480.jpg" alt="grateful">
    <H3>About us</H3>
    <br>
    <p>Welcome to Team10, where we capture life's precious moments through our lenses. We are a passionate team of photographers who specialize in wedding photography, family portraits, etc.</p>
    <br>
    <p>Our mission is to create beautiful and timeless photographs that tell your unique story. We understand that every moment is precious, and we strive to capture those moments in a way that you can cherish for a lifetime.</p>
    <br>
    <p>At Team10, we take pride in our work and are committed to providing our clients with exceptional service. We work closely with our clients to understand their vision and ensure that we exceed their expectations.</p>
    <br>
    <p>Our team consists of experienced and talented photographers who are dedicated to their craft. We stay up-to-date with the latest industry trends and technologies to ensure that we are providing our clients with the best possible experience.
    </p>
    <br>
    <p>We believe that photography is an art form, and we approach every project with creativity, passion, and a keen eye for detail. We are honored to be a part of your special moments, and we look forward to capturing memories that will last a lifetime.
    </p>
    <br>
    <h5><i class="bi bi-flower1"></i> Thanks for reading <i class="bi bi-flower1"></i></h5>
    <br>
</div>