<div class="container">
    <br>
    <img src="https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731__480.jpg" alt="grateful">
    <H3>About us</H3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eveniet illo neque nam dolor excepturi accusantium velit repellendus ipsa eum magni ratione mollitia voluptatibus, natus qui voluptatem sapiente id quidem error molestias iste! Deleniti
        iure itaque eos labore, necessitatibus aperiam facere ullam dolore, nemo, officia amet inventore quisquam. Cumque rerum, labore mollitia molestiae natus voluptatibus pariatur alias accusamus numquam ullam optio, commodi aliquam. Doloribus perspiciatis,
        explicabo unde ex similique saepe reprehenderit harum necessitatibus vero voluptatum nisi voluptatem, vel, excepturi minus culpa error illum ratione doloremque laudantium molestias sunt blanditiis deleniti sint nemo. Dignissimos deserunt fugiat
        vel rem cupiditate sed facilis! Excepturi minus culpa error illum ratione doloremque laudantium molestias sunt blanditiis deleniti sint nemo. Dignissimos deserunt fugiat vel rem cupiditate sed facilis!</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eveniet illo neque nam dolor excepturi accusantium velit repellendus ipsa eum magni ratione mollitia voluptatibus, natus qui voluptatem sapiente id quidem error molestias iste! Deleniti
        iure itaque eos labore, necessitatibus aperiam facere ullam dolore, nemo, officia amet inventore quisquam. Cumque rerum, labore mollitia molestiae natus voluptatibus pariatur alias accusamus numquam ullam optio, commodi aliquam. Doloribus perspiciatis,
        explicabo unde ex similique saepe reprehenderit harum necessitatibus vero voluptatum nisi voluptatem, vel, excepturi minus culpa error illum ratione doloremque laudantium molestias sunt blanditiis deleniti sint nemo. Dignissimos deserunt fugiat
        vel rem cupiditate sed facilis!</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eveniet illo neque nam dolor excepturi accusantium velit repellendus ipsa eum magni ratione mollitia voluptatibus, natus qui voluptatem sapiente id quidem error molestias iste! Deleniti
        iure itaque eos labore, necessitatibus aperiam facere ullam dolore, nemo, officia amet inventore quisquam. Cumque rerum, labore mollitia molestiae natus voluptatibus pariatur alias accusamus numquam ullam optio, commodi aliquam. Doloribus perspiciatis,
        explicabo unde ex similique saepe reprehenderit harum necessitatibus vero voluptatum nisi voluptatem, vel, excepturi minus culpa error illum ratione doloremque laudantium molestias sunt blanditiis deleniti sint nemo. Dignissimos deserunt fugiat
        vel rem cupiditate sed facilis!</p>
    <br>
    <h5><i class="bi bi-flower1"></i> Thanks for reading <i class="bi bi-flower1"></i></h5>
    <br>
</div>