<div class="contain">
  <div class="banner text-center mx-auto d-flex flex-column justify-content-center align-items-center">
    <h3 class="fw-bold text-white display-4">Our Team</h3>
    <button class="btn btn-lg text-light neon mt-4" routerLink="/contact">GET IN TOUCH</button>
  </div>
</div>

<h1 class="text-center mt-5 mb-2">PHOTO 10 - we are here for you</h1>
<h4 class="text-center text-muted mb-5 px-4">Enjoy your beautiful moments - we capture them!</h4>

<div class="container d-flex justify-content-center">
  <p class="w-75 text-center">We're PHOTO 10, photographers from Vienna and we're in business for nearly a decade. In our work we use tools of documentary reportage, portraiture, fashion photography, art photography and filmmaking. Unexpected moments, rollercoaster emotions, and beautiful souls crazy in love make our hearts beat faster. With our work, we are following couples worldwide, capturing these vibrant memories you’ll carry with you for years to come. We are not good in talking about ourselves - and after all, it’s about you and your story. You feel like we could vibe? Leave us a message and let’s get this party started.</p>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 justify-content-center">
    <div class="col card m-3 text-dark pt-4" style="width: 25rem;">
      <h2 class="pb-4">Christine Weidhofer</h2>
        <p class="fw-bold text-muted">Ceo & Founder</p>
        <p>Photo 10 Team </p>
        <p>christine@photo-10.com</p>
        <p><button class="btn btn-lg text-light neon mt-4" routerLink="/contact">Contact</button></p>
    </div>
    <div class="col card m-3 text-dark pt-4" style="width: 25rem;">
      <h2 class="pb-4">Taner Van Kuren</h2>
        <p class="fw-bold text-muted">Designer & Programmer</p>
        <p>Photo 10 Team</p>
        <p>taner@photo-10.com</p>
        <p><button class="btn btn-lg text-light neon mt-4" routerLink="/contact">Contact</button></p>
    </div>
    <div class="col card m-3 text-dark pt-4" style="width: 25rem;">
      <h2 class="pb-4">Lamia Polat</h2>
        <p class="fw-bold text-muted">Designer & Programmer</p>
        <p>Photo 10 Team</p>
        <p>lamia@photo-10.com</p>
        <p><button class="btn btn-lg text-light neon mt-4" routerLink="/contact">Contact</button></p>
    </div>
    <div class="col card m-3 text-dark pt-4" style="width: 25rem;">
      <h2 class="pb-4">Lukasz Lang </h2>
        <p class="fw-bold text-muted">Designer&Photographer</p>
        <p>Photo 10 Team</p>
        <p>lukasz@photo-10.com</p>
        <p><button class="btn btn-lg text-light neon mt-4" routerLink="/contact">Contact </button></p>
    </div>
    <div class="col card m-3 text-dark pt-4" style="width: 25rem;">
      <h2 class="pb-4">Jiri Kalous</h2>
      <p class="fw-bold text-muted">Programmer</p>
      <p>Photo 10 Team</p>
      <p>jiri@photo-10.com</p>
      <p><button class="btn btn-lg text-light neon mt-4" routerLink="/contact">Contact </button></p>
    </div>
    <div class="col card m-3 text-dark pt-4" style="width: 25rem;">
      <img src="https://petapixel.com/assets/uploads/2022/07/Camera-Shipments-Plunge-to-New-Low-As-Sales-Hit-New-High-800x420.jpg" width="95%">
      <p><button class="btn btn-lg text-light neon mt-4" routerLink="/contact">GET IN TOUCH</button></p>
    </div>
  </div>
</div>