.contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: relative;
    width: 100%;
    opacity: 0.8;
}

img:hover {
    filter: grayscale(100%);
    transition: 1.8s ease-in-out;
}

.button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    background-color: #16a085;
    border: none;
    color: #fff;
    padding: 8px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 40px;
}

.button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
}

.button:after {
    content: "";
    background: rgb(112, 239, 255);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button:focus {
    outline: 0;
}

#btn {
    position: absolute;
    text-decoration: none;
    background: rgb(55, 63, 62);
    color: white;
    z-index: 1;
}

#bBtn {
    background-color: #1abc9c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.modal-content {
    border: none;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 50px;
    max-width: 600px;
    margin: auto;
}

.modal-body {
    background-image: url("https://images.unsplash.com/photo-1596265371388-43edbaadab94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG9ncmFwaHklMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    background-size: contain;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.84;
}

.modal-body p {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}

.modal-footer {
    display: flex;
    justify-content: center;
}