<div class="container">
    <button class="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btn">Explore</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Book A Session!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Looking to capture your best angles and show off your stunning self? Look no further! Our photography sessions are the perfect way to make your friends and family jealous of your good looks. Our experienced photographers will make
                        you feel like a superstar as they snap away, capturing all your best features and unique quirks!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="bBtn">Book Now</button>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/hero1.jpg">
</div>