h1 {
    color: white;
    letter-spacing: 1.5px;
    font-size: 3em;
    text-align: center;
}

img {
    width: 100%;
    opacity: 0.8;
}

img:hover {
    filter: grayscale(100%);
    transition: 3s ease-in-out;
}

img:active {
    filter: invert(100%);
}