.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

h1 {
    color: black;
    letter-spacing: 1.5px;
    font-size: 2em;
}

.cameraImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover {
    filter: invert(100%);
}

img:active {
    filter: grayscale(100%);
}