<div class="contain">
    <div class="banner text-center mx-auto d-flex justify-content-center align-items-center">
        <h3 class="p-5 fw-bold text-white display-3">Contact</h3>
        <p class="text-light"></p>
    </div>
</div>

<div class="container">
    <br>
    <img src="https://www.eurojust.europa.eu/sites/default/files/inline-images/7-5-2_How-to-find-us_750x468_B2.jpg" alt="grateful">
    <h2>How to find us!</h2>
    <br>

    <ul class="cont1">
        <li>New York, NY 10012, US</li>
        <li>info@example.com</li>
        <li>+ 01 234 567 88</li>
        <li>+ 01 234 567 89</li>
    </ul>

    <p class="flow-text">We are located at New York, NY 10012, US, and we can't wait to welcome you to our space. Here's how you can find us: By Car: If you're coming by car, simply enter our address into your GPS or mapping software, and it will provide you with directions
        to our location. We offer free parking on-site, so you can park your car and enjoy your visit. By Public Transit: If you're coming by public transit, there are several options available to you. Bus 45 and U4 subway lines. Once you arrive at the
        NY 10012 stop, it's just a short walk to our location. If you're having trouble finding us, don't hesitate to give us a call at 01 234 567 89.
    </p>
    <br>

    <h5>Send us a message!</h5>
    <br>
</div>

<div class="msg1">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>


<div class="d-grid gap-2 col-2 mx-auto">
    <button class="btn btn-lg myBtn" type="button">Send</button>
</div>
<br>