<div class="container">
    <br>
    <img src="https://www.eurojust.europa.eu/sites/default/files/inline-images/7-5-2_How-to-find-us_750x468_B2.jpg" alt="grateful">
    <H3>How to find us!</H3>
    <br>
    <ul>
        <li>New York, NY 10012, US</li>
        <li>info@example.com</li>
        <li>+ 01 234 567 88</li>
        <li>+ 01 234 567 89</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eveniet illo neque nam dolor excepturi accusantium velit repellendus ipsa eum magni ratione mollitia voluptatibus, natus qui voluptatem sapiente id quidem error molestias iste! Deleniti
        iure itaque eos labore, necessitatibus aperiam facere ullam dolore, nemo, officia amet inventore quisquam. Cumque rerum, labore mollitia molestiae natus voluptatibus pariatur alias accusamus numquam ullam optio, commodi aliquam. Doloribus perspiciatis,
        explicabo unde ex similique saepe reprehenderit harum necessitatibus vero voluptatum nisi voluptatem, vel, excepturi minus culpa error illum ratione doloremque laudantium molestias sunt blanditiis deleniti sint nemo.
    </p>
    <br>

    <h5>Send us a message!</h5>
    <br>
</div>

<div class="msg1">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>