img {
    float: left;
    width: 40vw;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

h5 {
    text-align: center;
}

.flow-text {
    text-align: justify;
}

.msg1 {
    margin-right: 12rem;
    margin-left: 12rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.cont1 {
    list-style-type: none
}

.btn1 {
    text-align: center;
}

.myBtn {
    text-decoration: none;
    color: #193047;
    background-color: #1ABC9C;
    border: 3px solid black;
    color: black;
    font-weight: bold;
    transition: all 0.6s ease-out;

}

.myBtn:hover {
    font-weight: bold;
    color: white;
    transform: scale(1.05);
}

.banner {
    position: relative;
    height: 300px;
    border-radius: 1rem;
  }
  
  /* putting the background-image on a pseudo-element to only make image transparent, text stays OPACITY:1 */
  
  .banner::before {
    content: "";
    background-image: url("../../assets/hero1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
  }
  
  /* button style */
  .neon {
    position: relative;
    background-color: #193047;
    transition: all 0.3s linear;
  }
  
  .neon:hover {
    box-shadow: 0px 0px 15px #1ABC9C;
    transform: scale(1.01);
  }
  
  h3 {
    text-shadow: 0px 0px 15px black;
    position: relative;
  }
  