img {
    float: left;
    width: 40vw;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

h5 {
    text-align: center;
}

.flow-text {
    text-align: justify;
}

.cont1 {
    list-style-type: none
}