img {
    float: left;
    width: 40vw;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    opacity: 0.7;
}

h5 {
    text-align: center;
}

p {
    text-align: justify;
}

.msg1 {
    margin-right: 12rem;
    margin-left: 12rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}