img {
    width: 50vw;
    border-radius: 6px;
}

h1 {
    color: #1ABC9C;
    font-weight: 800;
}

* {
    text-align: center;
}

  /* button style */
.neon {
    position: relative;
    /* border: none; */
    background-color: #193047;
    transition: all 0.3s linear;
}

.neon:hover {
    box-shadow: 0px 0px 15px #1ABC9C;
    transform: scale(1.01);
}

/* button {
    margin: 1rem;
    padding: .4rem;
    transition: all 600ms ease-out;
    border-radius: 0.3rem;
    font-weight: bold;
    background-color: #1ABC9C;
}

button:hover {
    transform: scale(1.15);
} */

/* a {
    text-decoration: none;
    list-style: none;
    color: black;
}

a:hover {
    color: white;
} */