img {
    width: 60vw;
    border-radius: 6px;
}

h1 {
    color: #1ABC9C;
    font-weight: 800;
}

* {
    text-align: center;
}

@media screen and (max-width: 991px) {
    img {
        width: 80vw;
    }
}