.client-block {
  background-color: #193047;
  color: white;
  height: 30%;
  width: 67%;
}

.fa-brands {
  display: inline-block;
  color: white;
  font-size: 6rem;
  padding: 1rem;
}

a, a:link    { color: white; }
a:visited { color: white; }
a:hover   { color: white; }
a:focus   { outline: 1px solid white; }
a:active  { color: white ;}

