<h3 class="text-center my-5">Business Clients</h3>

<div class="container">
  <!-- block with logos of customers-->
  <div class="client-block d-flex flex-column flex-md-row justify-content-center align-items-center mx-auto my-4">
    <a href="https://amazon.com"><i class="fa-brands fa-amazon"></i></a>
    <a href="https://google.com"><i class="fa-brands fa-google"></i></a>
    <a href="https://windows.com"><i class="fa-brands fa-windows"></i></a>
  </div>
</div>

<!-- Testimonials -->
<section>
  <div class="row d-flex justify-content-center w-100">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Private Clients</h3>
      
    </div>
  </div>

  <div class="row text-center mx-2">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Lamia</h5>
      <h6 class="text-secondary mb-3">Bride</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>I am so thankful for the Photo-10 Team and had a great Wedding-shoot. Thank you for making my beautiful day more special.

      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star-half-alt fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-5">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Christine</h5>
      <h6 class="text-secondary mb-3">Business Portrait Client</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Working with Photo-10 Team was great. At the session Photo-10 Team was very professional and knew how to get the shot and look that I was after. The turnaround time to get the pictures was quick and I am very happy with them. I would recommend Photo 10-Team to anyone that is looking for a great business portrait.

      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
    <div class="col-md-4 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
          class="rounded-circle shadow-1-strong" width="150" height="150" />
      </div>
      <h5 class="mb-3">Taner</h5>
      <h6 class="text-secondary mb-3">Family Portrait Client</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Photo 10-Team is wonderful to work with, and I know my wife, newborn and dog agree! They talk clients thru the shoot not only to make them feel comfortable, but also to help ensure they receive the best possible photos. Best of all, I love my pictures!”
      </p>
      <ul class="list-unstyled d-flex justify-content-center mb-0">
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="fas fa-star fa-sm text-warning"></i>
        </li>
        <li>
          <i class="far fa-star fa-sm text-warning"></i>
        </li>
      </ul>
    </div>
  </div>
</section>