
.client-block {
  background-color: #212529;
  color: white;
  height: 30%;
  width: 67%;
}

.fa-brands {
  display: inline-block;
  color: white;
  font-size: 6rem;
  padding: 1rem;
}


a, a:link {
  transition: all 0.3s linear;
  color: white;

}
a:visited {
  color: white;

}
a:hover {
  transform: scale(1.1);
  color: white;
}

a:focus {
  outline: 1px solid white;
}
a:active { 
  color: white ;
}