/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

::selection {
    background-color: #193047;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}