/* font text */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

::selection {
    background-color: #1CBC9B;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #212529; /* dark mode as default*/
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.max {
    max-width: 1600px;
}

/* heroes */
.banner {
    position: relative;
    height: 265px;
  }
  
  /* putting the background-image on a pseudo-element to only make image transparent, text stays OPACITY:1 */
  
  .banner::before {
    content: "";
    background-image: url("./assets/hero1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
  }
  
  /* button style */
  .neon {
    position: relative;
    background-color: #193047;
    transition: all 0.3s linear;
  }
  
  .neon:hover {
    box-shadow: 0px 0px 15px #1ABC9C;
    transform: scale(1.01);
  }
  
  h3 {
    text-shadow: 0px 0px 15px black;
    position: relative;
  }